* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    margin-top: 20px;
    padding-bottom: 10px;
  }
  .logo {
    width: 250px;
    height: 150px;
    text-align: center;
  }
  .logo-row{
    width: 250px;
    margin: 0 auto;
  }
.line{
    width: 100%;
    padding: 2px;
    background-color: black;
}
.container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 15px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: center;
    width: 33.33%;
    padding: 25px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.shop img{
    border: 2px solid black;
}
.columnshop{
    float: right;
    width: 33.33%;
  }
  .columnshop p{
    font-family:'Bebas Neue';
    font-size: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  .row{
      text-align: center;
  }
  .row2{
      text-align: center;
  }
  .columnshop2{
    float: left;
    width: 33.33%;
  }
  .columnshop2 img{
    border: 2px solid black;
  }
  .columnshop2 p{
    font-family:'Bebas Neue';
    font-size: 20px;
  }